<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration Succeeded - Code Java</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>


</head>
<body>
<div class="container text-center">
<br/> <br/>
<h1 style="font-size:50px;">You have sign up Successfully</h1><br/>
  <h4 style="font-size:50px;"><a th:href="@{/login}">Click here to login</a></h4>
    </div>
</body>
</html>